certifi==2025.6.15
charset-normalizer==3.4.2
et_xmlfile==2.0.0
GDAL==3.8.4
geopandas==1.1.0
idna==3.10
iniconfig==2.1.0
numpy==2.3.0
openpyxl==3.1.5
osmium==4.0.2
packaging==25.0
pandas==2.3.0
pluggy==1.6.0
pyarrow==19.0.0
Pygments==2.19.2
pyogrio==0.11.0
pyproj==3.7.1
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
shapely==2.1.1
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
xmltodict==0.14.2
